$fontMardotoThin: "MardotoThin", arial, sans-serif;
@font-face {
  font-family: 'MardotoThin';
  font-display: auto;
  src: url('../fonts/Mardoto-Thin.eot');
  src: url('../fonts/Mardoto-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mardoto-Thin.woff2') format('woff2'),
  url('../fonts/Mardoto-Thin.woff') format('woff'),
  url('../fonts/Mardoto-Thin.ttf') format('truetype'),
  url('../fonts/Mardoto-Thin.svg#Mardoto-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}
$fontMardotoBold: "MardotoBold", arial, sans-serif;
@font-face {
  font-family: 'MardotoBold';
  font-display: auto;
  src: url('../fonts/Mardoto-Black.eot');
  src: url('../fonts/Mardoto-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mardoto-Black.woff2') format('woff2'),
  url('../fonts/Mardoto-Black.woff') format('woff'),
  url('../fonts/Mardoto-Black.ttf') format('truetype'),
  url('../fonts/Mardoto-Black.svg#Mardoto-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}