@import 'fonts', 'variabless', 'mixins', 'zoommer', 'popup', 'popup-slider', 'popup-zoommer', 'slick';
body,div,p,h1,h2,h3,h4,h5,h6,span,form,textarea,ul,li,a{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
html{
  @include scroll_bar_redesign;
}
body{
  -webkit-tap-highlight-color: transparent;
  background-color: black;
  overflow-x: hidden;
  font-family: $fontMardotoThin;
  background-color: white;
  max-width: 100vw;
}
input, select, textarea, button, a {-webkit-tap-highlight-color:#ccc; }
html body > *[data-module]:not([data-module="header"]) {
  width: 100vw!important;
}
div{
  box-sizing: border-box;
}
a{text-decoration: none}
.clearfix{
  clear: both;
}
.container{
  max-width: $containerWidth;
  width: 100%;
  padding: 0 $sizeGutter;
  margin: 0 auto;
}
.withParallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.isTouch{
  .withParallax {
    background-attachment: scroll;
  }
}
.loading-logo{
  opacity: 0;
}

[data-module="header"]{
  width: 100%;
  height: 90vh;
  position: relative;
  //overflow: hidden;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 4;
  .header-text-block{
    z-index: 10;
    position: absolute;
    top: 10vh;
    width: 60%;
    height: 90vh;
    background-color: $headerTextBlockBGcolor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .text-block{
      transition: .5s $transitionTiming;
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      *{transition: .5s $transitionTiming;}
      .line{
        line-height: 65px;
        color: white;
        width: 50%;
        text-align: left;
        font-family: $fontMardotoThin;
        &.head{
          font-size: 48px;
          white-space: nowrap;
          font-weight: 600;
          @include respond-to(mobile){
            font-size: 40px;
          }
          @include respond-to(realmobile){
            font-size: 30px;
          }
          .bold{
            font-family: $fontMardotoBold;
          }
        }
        &.small{
          font-size: 15px;
          @include respond-to('max-width: 950px'){
            font-size: 12px;
          }
        }
        @include respond-to('max-width: 1450px'){
          width: 90%;
        }
        @include respond-to('max-width: 950px'){
          width: 80%;
          line-height: 50px;
        }
        @include respond-to(mobile){
          width: 80%;
          line-height: 50px;
        }
      }
      @include respond-to('max-width: 1150px'){
        width: 100%;
      }
    }
  }
  .header-castle-block{
    z-index: 9;
    width: 100vw;
    height: 100vh;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: transparent;
    &.notPinned{
      height: 90vh;
      position: absolute;
      bottom: -10vh;
    }
    .sub-header-castle-block{
      width: 100%;
      height: 90vh;
      background-color: $headerBGcolor;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      .castle-block{
        width: 40%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        .castle{
          width: 100%;
          height:100%;
          .img{
            width: 100%;
            height: 100%;
            background-size: contain;
            background-position: bottom;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

[data-module="map"] {
  z-index: 3;
  width: 100%;
  height: 110vh;
  overflow: hidden;
  user-select: none;
  background-color: white;
  .map{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }
  .map-popup{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .img-container{
      background-color: white;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-attachment: fixed;
      max-width: 100%;
      max-height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        &.static{
          max-width: 100%;
          max-height: 100vh;
        }
      }
    }
    &[data-is-opened='true']{
      &,* {
        z-index: 999999999999;
      }
    }
  }
  .mobile-map{
    display: none;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    max-height: 100%;
    max-width: unset;
    img.static-mobile{
      max-height: 100vh;
      max-width: unset;
    }
  }
}
.isTouch{
  [data-module="map"]{
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 10vh;
    .map{
      display: none;
      .img-container{
        height: 100%;
        max-height: 100%;
        max-width: unset;
      }
    }
    .mobile-map{
      display: flex;
    }
  }
}

[data-module="medalsArvin"]{
  width: 100%;
  height: 90vh;
  background-color: $headerTextBlockBGcolor;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5vh;
  min-height: 450px;
  @include respond-to(mobile){
    padding: 0 $sizeGutter * 2.5;
  }
  @include respond-to(realmobile){
    padding: 0 $sizeGutter * 1.5;
  }
  position: relative;
  .medals-container{
    position: relative;
    max-width: 1550px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    .sub-modals-container{
      width: 100%;
      height: 100%;
      @include scroll_bar_hide;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: hidden scroll;
      padding: 15vh $sizeGutter;
      .medal{
        //background-color: red;
        width: 100%;
        //height: 60vh;
        height: auto;
        margin-bottom: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        &:last-of-type{
          margin-bottom: 0;
        }
        .text-container{
          width: 40%;
          height: 100%;
          //display: flex;
          //justify-content: flex-end;
          //align-items: flex-start;
          //flex-direction: column;
          font-family: $fontMardotoThin;
          color: white;
          .sub-text-container{
            width: 100%;
            height: 100%;
            //max-height: 300px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            flex-direction: column;
            &.fixator{
              //transition: .5s linear;
              z-index: 1;
              position: absolute;
              top: 0;
              left: 0;
              width: 40%;
              opacity: 0;
              padding: 15vh  0 15vh 20px;
              &[data-is-active='true']{
                opacity: 1;
                z-index: 99999;
              }
              @include respond-to(mobile){
                width: 100%;
                height: 35%;
                padding: 0;
              }
              @include respond-to(realmobile){
                height: 55%;
              }
            }
            .title{
              font-size: 40px;
              width: 80%;
              .bold{
                font-family: $fontMardotoBold;
              }
              @include respond-to(realmobile){
                font-size: 30px;
              }
              @include respond-to(smallmobile){
                font-size: 22px;
              }
            }
            .description{
              margin: $sizeGutter * 2  0  $sizeGutter * 3.5  0;
              font-weight: 900;
              font-size: 15px;
              width: 90%;
              max-width: 435px;
              @include respond-to(mobile){
                margin: $sizeGutter * 2  0  $sizeGutter * 2  0;
              }
              @include respond-to(realmobile){
                margin: $sizeGutter  0  $sizeGutter  0;
              }
              @include respond-to(smallmobile){
                margin: $sizeGutter / 2  0  $sizeGutter / 2  0;
              }
            }
            .order-now{
              cursor: pointer;
              font-weight: 900;
              font-size: 15px;
              position: relative;
              @include underlineEffect;
            }
            .popup{
              display: flex;
              justify-content: center;
              align-items: center;
              .popup_content{
                font-family: $fontMardotoThin;
                background-color: #121212;
                //background: radial-gradient(circle at 1000% 50%, #979797 5%, #121212);
                padding: $sizeGutter * 2.5;
                position: relative;
                width: 100%;
                height: 100%;
                max-width: 1020px;
                max-height: 750px;
                @include respond-to(mobile){
                  max-height: 85%;
                }
                .sub_popup_content{
                  position: relative;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  width: 100%;
                  height: 100%;
                  .about{
                    min-width: 415px;
                    height: 100%;
                    overflow: hidden;
                    flex: 0 1 45%;
                    @include respond-to(mobile){
                      min-width: unset;
                    }
                    > * {

                    }
                    .sub-about{
                      > *{
                        width: 100%;
                      }
                      z-index: 10003;
                      height: 100%;
                      padding-right: 10%;
                      display: flex;
                      justify-content: flex-end;
                      align-items: center;
                      flex-direction: column;
                      .popup-main-title{
                        line-height: 55px;
                        font-family: $fontMardotoBold;
                        font-size: 50px;
                        @include respond-to(realmobile){
                          line-height: 33px;
                          font-size: 27px;
                        }
                      }
                      .popup-main-type{
                        margin-top: 25px;
                        font-size: 25px;
                        @include respond-to(realmobile){
                          margin-top: 20px;
                          font-size: 18px;
                        }
                      }
                      .count-from{
                        margin-top: 15px;
                        font-size: 25px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        @include respond-to(realmobile){
                          margin-top: 10px;
                          font-size: 18px;
                        }
                      }
                      .details{
                        font-size: 18px;
                        width: 100%;
                        margin-top: 40px;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        flex-wrap: wrap;
                        .detail{
                          width: 100%;
                          display: block;
                          .titlePopup{
                            float: left;
                          }
                          .valuePopup{
                            float: right;
                          }
                        }
                        @include respond-to(realmobile){
                          margin-top: 10px;
                          font-size: 15px;
                        }
                      }
                      .price, .all-price{
                        margin-top: 30px;
                        @include respond-to(realmobile){
                          margin-top: 15px;
                        }
                      }
                      .all-price {
                        .valuePopup{
                          font-size: 30px;
                          margin-top: 20px;
                        }
                        @include respond-to(realmobile){
                          font-size: 18px;
                          .valuePopup{
                            font-size: 20px;
                            margin-top: 0px;
                          }
                        }
                      }
                      .action-buttons{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        width: 100%;
                        .confirm, .preview_opener{
                          @include respond-to(realmobile){
                            font-size: 16px;
                            padding: 7px;
                            width: auto;
                            border-radius: 0;
                            border: 0;
                            margin-right: $sizeGutter;
                          }
                          text-transform: uppercase;
                          width: 90%;
                          text-align: center;
                          font-size: 25px;
                          padding: 10px;
                          margin-top: 15px;
                          background-color: #202026;
                          border: 1px solid white;
                          border-radius: 3px;
                        }
                        .preview_opener{
                          display: none;
                        }
                      }
                    }
                    .sub-confirm{
                      background-color: #121212;
                      z-index: 10004;
                      transition: .75s $transitionTimingSlowly;
                      transform: translate(0,1px);
                      padding-right: 10%;
                      height: 100%;
                      width: 100%;
                      &[data-opened-confirmer="true"]{
                        transform: translate(0,-100%)
                      }
                    }
                  }
                  .preview{
                    height: 100%;
                    flex: 0 1 55%;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .popup-slider{
                      border: 5px solid grey;
                    }
                    .sub_preview{
                      overflow: hidden;
                      position: relative;
                      width: 100%;
                      height: 100%;
                      img{
                        height: 130%;
                        top: -3%;
                        left: -10%;
                      }
                    }
                    .controls{
                      left: calc(100% + 5px);
                    }
                  }
                  @include respond-to(mobile) {
                    flex-direction: column-reverse;
                    .preview{
                      flex: inherit;
                      transition: .75s $transitionTimingSlowly;
                      position: absolute;
                      bottom: -100%;
                      left: 0;
                      width: 100%;
                      background-color: #121212;
                      .popup-slider{
                        max-height: 90%;
                      }
                      .close-preview_opener{
                        display: block;
                      }
                      &[data-opened-preview='true']{
                        bottom: 0%;
                      }
                    }
                    .about{
                      width: 100%;
                      height: 100%;
                      flex: inherit;
                      .sub-about{
                        justify-content: space-between;
                        padding-right: 0;

                        .action-buttons{
                          justify-content: flex-start;
                          .preview_opener{
                            display: block;
                          }
                        }
                      }
                    }
                  }
                }
                @include respond-to(mobile) {
                  $distancePopupSides : 30px;
                  padding: $distancePopupSides 0 $distancePopupSides $distancePopupSides;
                  .sub_popup_content{
                    padding-right: $distancePopupSides;
                    overflow: hidden;
                    .preview{
                      padding-right: $distancePopupSides;
                      .popup-slider{
                        max-width: calc(100% - #{$distancePopupSides});
                        margin-right: $distancePopupSides;
                        .controls{
                          width: 48px;
                          .to-left, .to-right{
                            width: 40px;
                            height: 48px;
                            padding: 0;
                          }
                        }
                        //max-width: calc(100% - #{$distancePopupSides + 20px});
                      }
                    }
                  }
                }

                .close-popup{
                  right: $sizeGutter / 2;
                  background-color: transparent;
                  box-shadow: none;
                }

              }
              .close-popup{
                width: 20px;
                height: 20px;
                padding: 15px;
              }
            }
            @include respond-to(mobile){
              padding: $sizeGutter * 2  0;
              justify-content: center;
            }
          }
        }
        .medal-container{
          width: 60%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          position: relative;
          transition: all .5s $transitionTimingSlowly;
          img{
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
          }
          .medal-on-other-hand{
            transition: .5s $transitionTiming;
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background-position: bottom;
            background-size: contain;
            cursor: pointer;
            background-image: none;
            //&.loading{
            //	background-color: rgba(0,0,0,0.5);
            //	.loading-logo{
            //		width: 100%;
            //		height: 100%;
            //		background-image: url("../../img/logo_white.png");
            //		background-size: 90px;
            //		background-position: center;
            //		background-repeat: no-repeat;
            //		animation: logoChanger 1s linear infinite;
            //	}
            //	@keyframes logoChanger {
            //		0%,15%,100%{
            //			opacity: 0;
            //		}
            //		30%,85%{
            //			opacity: 1;
            //		}
            //	}
            //}
            &:hover{
              opacity: 1;
            }
            img.hidden{
              width: 1px;
              height: 1px;
              display: none;
              opacity: 0;
              visibility: hidden;
            }
          }
          @include respond-to(mobile){
            width: 100%;
            &.mobile-opened{
              z-index: 999999999;
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              .zoommer{
                width: 100%;
                height: 100%;
                overflow: auto;
                img{
                  //object-fit: none;
                  @include respond-to(mobileportrait) {
                    max-width: unset;
                    height: 100%;
                  }
                  @include respond-to(mobilelandscape) {
                    max-height: unset;
                    width: 100%;
                  }
                }
                + .zoommer-mobile-close{
                  display: block;
                }
              }
            }
          }
        }
        @include respond-to(mobile){
          flex-direction: column;
          margin-bottom: $sizeGutter * 3;
        }
      }
      #line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
      }
      @include respond-to(mobile){
        padding: 0;
        margin-bottom: 40px;
        height: 60%;
      }
      @include respond-to(realmobile){
        height: 40%;
        .zoommer-lens{
          width: 250px;
          height: 250px;
          top: 0%!important;
          left: 0%!important;
          height: 100%;
          width: 100%;
          border-radius: 0px;
          box-shadow: unset;
        }
      }
    }
    .controlls{
      height: 55px;
      width: 100%;
      display: none;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      left: 0;
      bottom: 0;
      .to-down{
        padding: 20px;
      }
      .to-up{
        padding: 20px;
      }
      @include respond-to(mobile){
        display: flex;
      }
    }
  }
}
.isTouch [data-module="medalsArvin"]{
  .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content {
    .about .sub-about{
      overflow: hidden scroll;
    }
    .preview .sub_preview{
      min-width: 100%;
      img{
        height: auto;
        width: auto;
      }
    }
  }
}

[data-module="about-book"]{
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  height: 75vh;
  min-height: 450px;
  background-color: white;
  padding: 0;
  .book-container{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .overlay{
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, .5);
    }
    .text-container{
      z-index: 1;
      max-width: 1640px;
      width: 100%;
      padding: 25vh 10vh 10vh 10vh;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      color: white;
      font-family: $fontMardotoThin;
      .name{
        font-weight: 900;
        font-size: 21px;
      }
      .excerpt{
        font-size: 60px;
        line-height: 1.8em;
        span{
          padding-bottom: $sizeGutter * .75;
          border-bottom: 2px solid white;
          @include respond-to(mobile){
            padding-bottom: $sizeGutter / 4;
          }
        }
        @include respond-to(mobile){
          margin: $sizeGutter * 2 0 $sizeGutter * 3 0;
          font-size: 49px;
        }
        @include respond-to(realmobile){
          font-size: 25px;
        }
      }
      .order-now{
        font-weight: 900;
        font-size: 15px;
        position: relative;
        height: 17px;
        @include underlineEffect;
      }
      @include respond-to(mobile){
        padding: $sizeGutter * 2.5;
        justify-content: center;
      }
      @include respond-to(realmobile){
        padding: $sizeGutter;
      }
    }
  }
}

[data-module="nav-bar"]{
  .logo-with-toggler{
    mix-blend-mode: difference; // Color changer
    position: fixed;
    top: 10vh;
    left: calc(100vw - 280px);
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s $transitionTimingSlowly;
    .logo{
      background-image: url("../../img/logo_white.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: auto;
      height: 40px;
      img,svg{
        opacity: 0;
        width: 78px;
        height: 40px;
      }
    }
    .toggler-menu{
      $toogleMenuWidth : 70px;
      width: $toogleMenuWidth;
      height: 40px;
      padding: 0 20px;
      cursor: pointer;
      .lines{
        position: relative;
        width: $toogleMenuWidth - 40px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .line{
          transition: .5s $transitionTiming;
          transform-origin: center;
          width: 100%;
          height: 2px;
          overflow: hidden;
          position: relative;
          &:after, &:before{
            transition: .5s $transitionTiming;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: white;
          }
          &:before{
            left: calc(180%);
          }
          &:first-child{
            &:after{
              left: calc(-180%);
            }
            &:before{
              left: 0;
            }
            margin-bottom: 5px;
          }
        }

      }
      &:hover{
        .lines .line{
          position: relative;
          &:after{
            left: calc(-180%);
          }
          &:before{
            left: 0;
          }
          &:first-child{
            &:after{
              left: 0;
            }
            &:before{
              left: calc(180%);
            }
            position: relative;
          }
        }
      }
    }
    @include respond-to(mobile){
      //top: $sizeGutter;
      //left: calc(100vw - 170px);
      mix-blend-mode: unset;
      background-color: black;
      padding: 10px;
      left: unset;
      right: 0;
      top: 0;
    }
  }
  .navigations{
    z-index: 99998;
    background-color: transparent;
    width: 100%;
    height: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    //overflow: hidden;

    .footer-info, .nav-buttons{
      position: fixed;
      top: -100%;
      background-color: black;
      transition: top 1.2s $transitionTimingSlowly;
      width: 50vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
    }
    .footer-info{
      left: 0;
      transition-delay: .2s;
      .distance-ten{
        padding-bottom: $sizeGutter / 2;
      }
      .distance-twenty{
        padding-bottom: $sizeGutter;
      }
      .info-main{
        font-size: 13px;
        background-color: white;
        width: 100%;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: row;
        padding-bottom: 7.5vh;
        .design-studio-side{
          width: 30%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          .logo{
            width: 55%;
            height: auto;
            img{
              max-width: 150px;
              width: 100%;
              height: auto;
            }
          }
          .studio-in-few-words{

          }
          .visit{
            a{
              text-decoration: none;
              color: black;
            }
            position: relative;
            @include underlineEffect;
            &:after, &:before{
              background-color: black;
            }
          }

        }
        .contact-side{
          margin-left: 10%;
          width: 30%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          .sub-side{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            .sub-side-title{
              font-weight: 600;
            }
            .desc{
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;
              .email.distance-ten:last-of-type{
                padding-bottom: 0;
              }
            }
          }
        }
        @include respond-to('max-width: 1240px'){
          justify-content: space-around;
          flex-direction: column;
          padding: $sizeGutter;
          .contact-side, .design-studio-side{
            width: 100%;
          }
          .contact-side{
            margin-left: 10%;
            margin-bottom: 0%;
          }
        }
      }
      @include respond-to(mobile){
        display: none;
      }
    }
    .nav-buttons{
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 0vh;
      .buttons-main{
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        background-color: white;
        padding: 10vh;
        position: relative;
        .nav-button{
          min-height: 46px;
          position: relative;
          font-size: 45px;
          padding-bottom: 7px;
          margin-bottom: 15px;
          transition: .8s $transitionTiming;
          overflow: hidden;
          &:not(.active) div{
            &:after, &:before{
              background-color: white;
            }
          }
          div{
            transition: transform .5s $transitionTimingSlowly .9s;
            transform: translate(0, 100%);
            @include underlineEffect;
            &:after, &:before{
              background-color: black;
              content: "";
            }
            a{
              color: black;
              overflow: hidden;
            }
            @include respond-to(realmobile){
              transform: translate(0, 150%);
            }
          }
          &:hover div{
            &:after, &:before{
              background-color: black;
            }
          }
        }
      }

      .langs{
        position: absolute;
        bottom: 10%;
        right: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        .lang {
          color: black;
          position: relative;
          transition: .3s $transitionTiming;
          cursor: pointer;
          margin: 0 5px;
          text-decoration: none;
          padding: 10px 5px;
          text-align: center;
          font-family: $fontMardotoBold;

          &:first-of-type, &:last-of-type {
            margin: 0;
          }

          &:not(.active) {
            @include underlineEffectShowAfterHover;
          }

          &:before {
            bottom: inherit;
            top: 0;
          }

          &.active {
            padding-bottom: 7px;
            &:before {
              content: "";
              width: 100%;
              height: 2px;
              position: absolute;
              top: 0px;
              background-color: black;
              left: 0;
              transition: .6s $transitionTiming;
            }
          }
        }
      }
      .white-area{
        max-height: 13vh;
        height: 10%;
        width: 100%;
        background-color: black;
        display: flex;
        justify-self: flex-end;
        align-items: flex-end;
        .area{
          height: 75%;
          width: 90%;
          margin-left: 10%;
          background-color: white;
        }
      }
      @include respond-to(mobile){
        width: 100%;
        .buttons-main{
          justify-content: flex-end;
          padding: $sizeGutter * 3 $sizeGutter $sizeGutter $sizeGutter;
          .nav-button{
            font-size: 29px;
          }
        }
      }
    }
  }
  &[data-is-collapsed='true']{
    .logo-with-toggler {
      z-index: 99999999;
      .toggler-menu .lines .line{
        position: absolute;
        left: 0;
        right: 0;
        transform: rotate(-45deg);
        &:first-child{
          margin-bottom: 0;
          transform: rotate(45deg);
        }
      }

      @include respond-to(mobile){
        mix-blend-mode: difference;
      }
    }
    .navigations{
      .footer-info, .nav-buttons{
        top: 0;
        @include respond-to(mobile){
          top: 0%;
          transition: left 1.2s $transitionTimingSlowly;
          // 976 - 977, 979 - 980
          clip-path: polygon(
            0 0,
            43% 0,
            65% 0,
            100% 0,
            100% 100%,
            50% 100%,
            50% 0,
            50% 100%,
            0 100%,
            0 0%
          );
          animation: half_half 1.4s 1;
          animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);//$transitionTimingSlowly
          @keyframes half_half {
            0%{
              // 976 - 977, 979 - 980
              clip-path: polygon(
                0 0,
                43% 0,
                65% 0,
                100% 0,
                100% 0%,
                50% 0%,
                50% 0,
                50% 0%,
                0 0%,
                0 0%
              );
            }
            32%{
              // 976 - 977, 979 - 980
              clip-path: polygon(
                0 0,
                43% 0,
                65% 0,
                100% 0,
                100% 16%,
                50% 16%,
                50% 0,
                50% 0%,
                0 0%,
                0 0%
              );
            }
            100%{
              clip-path: polygon(
                0 0,
                43% 0,
                65% 0,
                100% 0,
                100% 100%,
                50% 100%,
                50% 0,
                50% 100%,
                0 100%,
                0 0%
              );
            }
          }
        }

        .buttons-main{
          .nav-button {
            div{
              transform: translate(0,0);
            }
          }
          @include respond-to('max-height: 550px'){
            justify-content: flex-start;
            overflow: auto;
          }
        }
      }
    }
  }

  &[data-is-collapsed='false']{

    .navigations{
      .footer-info, .nav-buttons {
        top: -100%;
        @include respond-to(mobile) {
          top: 0;
          transition: left 1.2s $transitionTimingSlowly;
          // 976 - 977, 979 - 980
          clip-path: polygon(
            0 0,
            43% 0,
            65% 0,
            100% 0,
            100% 0%,
            50% 0%,
            50% 0,
            50% 0%,
            0 0%,
            0 0%
          );
          animation: half_half_close 1.8s 1; // Original animation duration + delay for navbuttons to hide
          //animation-fill-mode: forwards;
          animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1); //$transitionTimingSlowly
          @keyframes half_half_close {
            0%, 22% {
              // 976 - 977, 979 - 980
              clip-path: polygon(
                0 0,
                43% 0,
                65% 0,
                100% 0,
                100% 100%,
                50% 100%,
                50% 0,
                50% 100%,
                0 100%,
                0 0
              );
            }
            35% {
              clip-path: polygon(
                0 0,
                43% 0,
                65% 0,
                100% 0,
                100% 100%,
                50% 100%,
                50% 0,
                50% 84%,
                0 84%,
                0 0
              );
            }
            100% {
              clip-path: polygon(
                0 0,
                43% 0,
                65% 0,
                100% 0,
                100% 0%,
                50% 0%,
                50% 0,
                50% 0%,
                0 0%,
                0 0%
              );
            }
          }
          .nav-button div{
            transition: transform .5s $transitionTimingSlowly;
          }
        }
      }
    }
  }
  &,* {
    z-index: 9999999;
  }
  .logo-with-toggler {
    z-index: 99999999;
  }
}


[data-module="medals-slider"]{
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}