// RESPONSIVENESS
@mixin respond-to($media) {
	@if $media == mobile {
		@media only screen and (max-width: 868px - 1) { @content; }
	}
	@else if $media == mobileportrait {
		@media only screen and (max-width: 868px - 1) and (orientation:portrait) { @content; }
	}
	@else if $media == mobilelandscape {
		@media only screen and (max-width: 868px - 1) and (orientation:landscape) { @content; }
	}
	@else if $media == tabletportrait {
		@media only screen and (min-width: 868px - 1) and (max-width: 1024px - 1) { @content; }
	}
	@else if $media == tabletlandscape {
		@media only screen and (min-width: 1024px - 1) and (max-width: 1280px - 1) { @content; }
	}
	@else if $media == nondesktop {
		@media only screen and (max-width: 1280px - 1) { @content; }
	}
	@else if $media == nonemobile {
		@media only screen and (min-width: 868px - 1) { @content; }
	}
	@else if $media == desktop {
		@media only screen and (min-width: 1280px) { @content; }
	}
	@else if $media == smallmobile {
		@media only screen and (max-width:500px) { @content; }
	}
	@else if $media == realmobile {
		@media (max-width:700px) , (max-height:700px) { @content; }
	}
	@else if $media == smallmobile {
		@media (max-width:350px) , (max-height:550px) { @content; }
	}
	@else{
		@media only screen and ($media) { @content; }
	}
}

// Scroll bar redesign
@mixin scroll_bar_redesign{
	&::-webkit-scrollbar {
		transition: .5s ease;
		width: $scrollBarWidth;
		background-color: #F5F5F5;
	}
	&::-webkit-scrollbar-track{
		transition: .5s ease;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: #F5F5F5;
	}
	&::-webkit-scrollbar-thumb {
		transition: .5s ease;
		background-color: #000000;
		border: 2px solid rgba(0,0,0,0.3);
	}
}

@mixin scroll_bar_hide{
	&::-webkit-scrollbar {
		display: none;
		width: 0;
		height: 0;
	}
}

// UnderlineEffect
@mixin underlineEffect{
	cursor: pointer;
	padding-bottom: 7px;
	overflow: hidden;
	&:after, &:before{
		content: "";
		width: 0%;
		height: 2px;
		position: absolute;
		bottom: 0px;
		background-color: white;
		transition: .6s $transitionTiming;
	}
	&:after{
		right: 0;
		width: 100%;
		background-color: white;
		transition-delay: .3s;
	}
	&:before{
		left: 0;
		transition-delay: 0s;
	}
	&:hover{
		&:before{
			width: 100%;
			transition-delay: .3s;
		}
		&:after{
			width: 0%;
			transition-delay: 0s;
		}
	}
}
// UnderlineEffect
@mixin underlineEffectShowAfterHover{
	cursor: pointer;
	padding-bottom: 7px;
	overflow: hidden;
	&:before{
		content: "";
		width: 0%;
		height: 2px;
		position: absolute;
		bottom: 0px;
		background-color: black;
		left: 0;
		transition: .6s  $transitionTiming;
	}
	&:hover{
		&:before{
			width: 100%;
			//transition: .6s  ease-in;
		}
	}
}

@mixin underlineEffectWithAnimation{
	&:after{
		animation: after .8s linear 1;
	}
	@keyframes after {
		from{
			left: 180%;
		}
		to{
			left: 0%;
		}
	}
	&:before{
		animation: before .8s linear 1;
	}
	@keyframes before {
		from{
			left: 0%;
		}
		to{
			left: -180%;
		}
	}
}


