.popup-slider{
  width: 100%;
  height: 100%;
  position: relative;
  .popup-slides{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .popup-slide{
      //transition:transform .5s ease;
      transform: translate(0,0);
      width: 100%;
      height: 100%;
    }
  }
  .controls{
    position: absolute;
    left: 100%;
    top: 20%;
    width: 30px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    .delimeter{
      margin: 5px auto;
      width: 100%;
      height: 1px;
      background-color: grey;
    }
    $hoverAnimationJumpSize : 5px;
    $paddingSize: 5px;
    .to-left ,.to-right{
      position: relative;
      width: 15px + $paddingSize * 2;
      height: 30px;
      padding: $paddingSize;
      transform: translate($paddingSize);
      &:before , &:after{
        background-color: grey;
        content: "";
        height: 1px;
        width: calc(100% - #{$paddingSize * 2}); // minus double padding
        position: absolute;
        top: 50%;
        left: $paddingSize;
        transform-origin: left;
        transform: rotate(-45deg);
      }
      &:after{
        transform: rotate(45deg);
      }
      &:hover{
        animation: to-left .3s ease-in-out 1;
        @keyframes to-left {
          0%,100%{
            transform: translate($paddingSize);
          }
          50%{
            transform: translate(-$hoverAnimationJumpSize + $paddingSize);
          }
        }
      }
    }
    .to-right{
      top: initial;
      bottom: 0;
      &:before , &:after{
        transform-origin: right;
        transform: rotate(45deg);
      }
      &:after{
        transform: rotate(-45deg);
      }
      &:hover{
        animation: to-right .3s ease-in-out 1;
        @keyframes to-right {
          0%,100%{
            transform: translate($paddingSize);
          }
          50%{
            transform: translate($hoverAnimationJumpSize + $paddingSize);
          }
        }
      }
    }
  }
}