.popup-zoommer{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  img{
    height: 100%;
    width: auto;
    position: absolute;
    top: 0%;
    left: 0;
  }
  .popup-zommer-icon{
    transition: .5s ease;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    left: 15px;
    border: 1px solid grey;
    border-radius: 50%;
    &:before, &:after{
      position: absolute;
      content: "";
      left: 25%;
      top: 50%;
      width: 50%;
      height: 1px;
      transform-origin: center;
      transform: rotate(0deg);
      background-color: grey;
    }
    &:after{
      transform: rotate(90deg);
    }
  }
  &:hover{
    .popup-zommer-icon{
      opacity: 0;
    }
  }
}