.popup{
  cursor: pointer;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: center;
  visibility: hidden;
  opacity: 0;
  transition: .5s $transitionTiming;
  .close-popup{
    z-index: 100003;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &:after,&:before{
      content: "";
      position: absolute;
      top: calc(50% - 3px);
      left: 0;
      width: 100%;
      height: 3px;
      transform-origin: center;
      transform: rotateZ(45deg);
      background-color: white;
    }
    &:before{
      transform: rotateZ(-45deg);
    }
  }
  .popup_content{

    transform: scale(0);
    z-index: 100002;
  }
  .close-area{
    z-index: -1;
    display: none;
    transition: background-color 1s $transitionTiming;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
  }
  &[data-is-opened="true"]{
    transition: 1s $transitionTiming;
    visibility: visible;
    opacity: 1;
    .popup_content{
      transform: scale(1)!important;
    }
    .close-area{
      display: block;
      z-index: 100001;
      background-color: rgba(0,0,0,.5);
    }
  }
}