$sizeGutter : 20px;
$containerWidth: 1240px;

$transitionTiming : cubic-bezier(.165,.84,.44,1);
$transitionTimingSlowly : cubic-bezier(0.77, 0, 0.18, 1);

$scrollBarWidth : 10px;
/* Header */
$headerBGcolor : #0f0f0f;
$headerTextBlockBGcolor : #191919;