html.zoommering > body {
	overflow-x: hidden !important;
}

.zoommer-mobile, .lens-mobile {
	/* Reset */
	min-width: 0;
	min-height: 0;
	animation: none;
	border: none;
	float: none;
	margin: 0;
	opacity: 1;
	outline: none;
	overflow: visible;
	padding: 0;
	text-indent: 0;
	transform: none;
	transition: none;
}

.zoommer {
	/* Reset */
	min-width: 0;
	min-height: 0;
	animation: none;
	border: none;
	float: none;
	margin: 0;
	opacity: 1;
	outline: none;
	overflow: visible;
	padding: 0;
	text-indent: 0;
	transform: none;
	transition: none;
	> .zoommer-lens {
		/* Reset */
		min-width: 0;
		min-height: 0;
		animation: none;
		border: none;
		float: none;
		margin: 0;
		opacity: 1;
		outline: none;
		overflow: visible;
		padding: 0;
		text-indent: 0;
		transform: none;
		transition: none;
	}
	position: relative;
	width: auto;
	height: auto;
	box-shadow: none;
	display: inline-block;
	z-index: inherit;
	> .zoommer-lens {
		/* zoommering lens */
		position: absolute;
		width: 200px;
		height: 200px;
		border-radius: 100%;
		/* Multiple box shadows to achieve the glass lens effect */
		box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
		cursor: none;
		display: none;
		z-index: 99;
		&.loading {
			background: #333 !important;
			opacity: 0.8;
			&:after {
				/* Loading text */
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				color: #fff;
				content: 'Loading...';
				font: italic normal 16px/1 Calibri, sans-serif;
				letter-spacing: 1px;
				margin-top: -8px;
				text-align: center;
				text-shadow: 0 0 2px rgba(51, 51, 51, 0.8);
				text-transform: none;
			}
		}
		@include respond-to(mobile){
			box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
		}
	}
	+ .zoommer-mobile-close{
		display: none;
		z-index: 999999999;
		width: 40px;
		height: 40px;
		position: fixed;
		top: $sizeGutter / 2;
		right: $sizeGutter / 2;
		&:after, &:before{
			content: "";
			background-color: white;
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 2px;
			transform: rotate(-45deg);
			transform-origin: center;
		}
		&:after{
			transform: rotate(45deg);
		}
	}
}