@font-face {
  font-family: "MardotoThin";
  font-display: auto;
  src: url("../fonts/Mardoto-Thin.eot");
  src: url("../fonts/Mardoto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Mardoto-Thin.woff2") format("woff2"), url("../fonts/Mardoto-Thin.woff") format("woff"), url("../fonts/Mardoto-Thin.ttf") format("truetype"), url("../fonts/Mardoto-Thin.svg#Mardoto-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "MardotoBold";
  font-display: auto;
  src: url("../fonts/Mardoto-Black.eot");
  src: url("../fonts/Mardoto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Mardoto-Black.woff2") format("woff2"), url("../fonts/Mardoto-Black.woff") format("woff"), url("../fonts/Mardoto-Black.ttf") format("truetype"), url("../fonts/Mardoto-Black.svg#Mardoto-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}
/* Header */
html.zoommering > body {
  overflow-x: hidden !important;
}

.zoommer-mobile, .lens-mobile {
  /* Reset */
  min-width: 0;
  min-height: 0;
  animation: none;
  border: none;
  float: none;
  margin: 0;
  opacity: 1;
  outline: none;
  overflow: visible;
  padding: 0;
  text-indent: 0;
  transform: none;
  transition: none;
}

.zoommer {
  /* Reset */
  min-width: 0;
  min-height: 0;
  animation: none;
  border: none;
  float: none;
  margin: 0;
  opacity: 1;
  outline: none;
  overflow: visible;
  padding: 0;
  text-indent: 0;
  transform: none;
  transition: none;
  position: relative;
  width: auto;
  height: auto;
  box-shadow: none;
  display: inline-block;
  z-index: inherit;
}
.zoommer > .zoommer-lens {
  /* Reset */
  min-width: 0;
  min-height: 0;
  animation: none;
  border: none;
  float: none;
  margin: 0;
  opacity: 1;
  outline: none;
  overflow: visible;
  padding: 0;
  text-indent: 0;
  transform: none;
  transition: none;
}
.zoommer > .zoommer-lens {
  /* zoommering lens */
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  /* Multiple box shadows to achieve the glass lens effect */
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  cursor: none;
  display: none;
  z-index: 99;
}
.zoommer > .zoommer-lens.loading {
  background: #333 !important;
  opacity: 0.8;
}
.zoommer > .zoommer-lens.loading:after {
  /* Loading text */
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #fff;
  content: "Loading...";
  font: italic normal 16px/1 Calibri, sans-serif;
  letter-spacing: 1px;
  margin-top: -8px;
  text-align: center;
  text-shadow: 0 0 2px rgba(51, 51, 51, 0.8);
  text-transform: none;
}
@media only screen and (max-width: 867px) {
  .zoommer > .zoommer-lens {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  }
}
.zoommer + .zoommer-mobile-close {
  display: none;
  z-index: 999999999;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10px;
  right: 10px;
}
.zoommer + .zoommer-mobile-close:after, .zoommer + .zoommer-mobile-close:before {
  content: "";
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: rotate(-45deg);
  transform-origin: center;
}
.zoommer + .zoommer-mobile-close:after {
  transform: rotate(45deg);
}

.popup {
  cursor: pointer;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.popup .close-popup {
  z-index: 100003;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.popup .close-popup:after, .popup .close-popup:before {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  width: 100%;
  height: 3px;
  transform-origin: center;
  transform: rotateZ(45deg);
  background-color: white;
}
.popup .close-popup:before {
  transform: rotateZ(-45deg);
}
.popup .popup_content {
  transform: scale(0);
  z-index: 100002;
}
.popup .close-area {
  z-index: -1;
  display: none;
  transition: background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
}
.popup[data-is-opened=true] {
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  visibility: visible;
  opacity: 1;
}
.popup[data-is-opened=true] .popup_content {
  transform: scale(1) !important;
}
.popup[data-is-opened=true] .close-area {
  display: block;
  z-index: 100001;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-slider {
  width: 100%;
  height: 100%;
  position: relative;
}
.popup-slider .popup-slides {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.popup-slider .popup-slides .popup-slide {
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}
.popup-slider .controls {
  position: absolute;
  left: 100%;
  top: 20%;
  width: 30px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.popup-slider .controls .delimeter {
  margin: 5px auto;
  width: 100%;
  height: 1px;
  background-color: grey;
}
.popup-slider .controls .to-left, .popup-slider .controls .to-right {
  position: relative;
  width: 25px;
  height: 30px;
  padding: 5px;
  transform: translate(5px);
}
.popup-slider .controls .to-left:before, .popup-slider .controls .to-left:after, .popup-slider .controls .to-right:before, .popup-slider .controls .to-right:after {
  background-color: grey;
  content: "";
  height: 1px;
  width: calc(100% - 10px);
  position: absolute;
  top: 50%;
  left: 5px;
  transform-origin: left;
  transform: rotate(-45deg);
}
.popup-slider .controls .to-left:after, .popup-slider .controls .to-right:after {
  transform: rotate(45deg);
}
.popup-slider .controls .to-left:hover, .popup-slider .controls .to-right:hover {
  animation: to-left 0.3s ease-in-out 1;
}
@keyframes to-left {
  0%, 100% {
    transform: translate(5px);
  }
  50% {
    transform: translate(0px);
  }
}
.popup-slider .controls .to-right {
  top: initial;
  bottom: 0;
}
.popup-slider .controls .to-right:before, .popup-slider .controls .to-right:after {
  transform-origin: right;
  transform: rotate(45deg);
}
.popup-slider .controls .to-right:after {
  transform: rotate(-45deg);
}
.popup-slider .controls .to-right:hover {
  animation: to-right 0.3s ease-in-out 1;
}
@keyframes to-right {
  0%, 100% {
    transform: translate(5px);
  }
  50% {
    transform: translate(10px);
  }
}

.popup-zoommer {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.popup-zoommer img {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0%;
  left: 0;
}
.popup-zoommer .popup-zommer-icon {
  transition: 0.5s ease;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  left: 15px;
  border: 1px solid grey;
  border-radius: 50%;
}
.popup-zoommer .popup-zommer-icon:before, .popup-zoommer .popup-zommer-icon:after {
  position: absolute;
  content: "";
  left: 25%;
  top: 50%;
  width: 50%;
  height: 1px;
  transform-origin: center;
  transform: rotate(0deg);
  background-color: grey;
}
.popup-zoommer .popup-zommer-icon:after {
  transform: rotate(90deg);
}
.popup-zoommer:hover .popup-zommer-icon {
  opacity: 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body, div, p, h1, h2, h3, h4, h5, h6, span, form, textarea, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

html::-webkit-scrollbar {
  transition: 0.5s ease;
  width: 10px;
  background-color: #F5F5F5;
}
html::-webkit-scrollbar-track {
  transition: 0.5s ease;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
html::-webkit-scrollbar-thumb {
  transition: 0.5s ease;
  background-color: #000000;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

body {
  -webkit-tap-highlight-color: transparent;
  background-color: black;
  overflow-x: hidden;
  font-family: "MardotoThin", arial, sans-serif;
  background-color: white;
  max-width: 100vw;
}

input, select, textarea, button, a {
  -webkit-tap-highlight-color: #ccc;
}

html body > *[data-module]:not([data-module=header]) {
  width: 100vw !important;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.withParallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.isTouch .withParallax {
  background-attachment: scroll;
}

.loading-logo {
  opacity: 0;
}

[data-module=header] {
  width: 100%;
  height: 90vh;
  position: relative;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 4;
}
[data-module=header] .header-text-block {
  z-index: 10;
  position: absolute;
  top: 10vh;
  width: 60%;
  height: 90vh;
  background-color: #191919;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
[data-module=header] .header-text-block .text-block {
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
[data-module=header] .header-text-block .text-block * {
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
[data-module=header] .header-text-block .text-block .line {
  line-height: 65px;
  color: white;
  width: 50%;
  text-align: left;
  font-family: "MardotoThin", arial, sans-serif;
}
[data-module=header] .header-text-block .text-block .line.head {
  font-size: 48px;
  white-space: nowrap;
  font-weight: 600;
}
@media only screen and (max-width: 867px) {
  [data-module=header] .header-text-block .text-block .line.head {
    font-size: 40px;
  }
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=header] .header-text-block .text-block .line.head {
    font-size: 30px;
  }
}
[data-module=header] .header-text-block .text-block .line.head .bold {
  font-family: "MardotoBold", arial, sans-serif;
}
[data-module=header] .header-text-block .text-block .line.small {
  font-size: 15px;
}
@media only screen and (max-width: 950px) {
  [data-module=header] .header-text-block .text-block .line.small {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1450px) {
  [data-module=header] .header-text-block .text-block .line {
    width: 90%;
  }
}
@media only screen and (max-width: 950px) {
  [data-module=header] .header-text-block .text-block .line {
    width: 80%;
    line-height: 50px;
  }
}
@media only screen and (max-width: 867px) {
  [data-module=header] .header-text-block .text-block .line {
    width: 80%;
    line-height: 50px;
  }
}
@media only screen and (max-width: 1150px) {
  [data-module=header] .header-text-block .text-block {
    width: 100%;
  }
}
[data-module=header] .header-castle-block {
  z-index: 9;
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: transparent;
}
[data-module=header] .header-castle-block.notPinned {
  height: 90vh;
  position: absolute;
  bottom: -10vh;
}
[data-module=header] .header-castle-block .sub-header-castle-block {
  width: 100%;
  height: 90vh;
  background-color: #0f0f0f;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
[data-module=header] .header-castle-block .sub-header-castle-block .castle-block {
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
[data-module=header] .header-castle-block .sub-header-castle-block .castle-block .castle {
  width: 100%;
  height: 100%;
}
[data-module=header] .header-castle-block .sub-header-castle-block .castle-block .castle .img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

[data-module=map] {
  z-index: 3;
  width: 100%;
  height: 110vh;
  overflow: hidden;
  user-select: none;
  background-color: white;
}
[data-module=map] .map {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
[data-module=map] .map-popup {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
[data-module=map] .map-popup .img-container {
  background-color: white;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-module=map] .map-popup .img-container img.static {
  max-width: 100%;
  max-height: 100vh;
}
[data-module=map] .map-popup[data-is-opened=true], [data-module=map] .map-popup[data-is-opened=true] * {
  z-index: 999999999999;
}
[data-module=map] .mobile-map {
  display: none;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  max-height: 100%;
  max-width: unset;
}
[data-module=map] .mobile-map img.static-mobile {
  max-height: 100vh;
  max-width: unset;
}

.isTouch [data-module=map] {
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 10vh;
}
.isTouch [data-module=map] .map {
  display: none;
}
.isTouch [data-module=map] .map .img-container {
  height: 100%;
  max-height: 100%;
  max-width: unset;
}
.isTouch [data-module=map] .mobile-map {
  display: flex;
}

[data-module=medalsArvin] {
  width: 100%;
  height: 90vh;
  background-color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5vh;
  min-height: 450px;
  position: relative;
}
@media only screen and (max-width: 867px) {
  [data-module=medalsArvin] {
    padding: 0 50px;
  }
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=medalsArvin] {
    padding: 0 30px;
  }
}
[data-module=medalsArvin] .medals-container {
  position: relative;
  max-width: 1550px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
[data-module=medalsArvin] .medals-container .sub-modals-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden scroll;
  padding: 15vh 20px;
}
[data-module=medalsArvin] .medals-container .sub-modals-container::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal {
  width: 100%;
  height: auto;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal:last-of-type {
  margin-bottom: 0;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container {
  width: 40%;
  height: 100%;
  font-family: "MardotoThin", arial, sans-serif;
  color: white;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container.fixator {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  opacity: 0;
  padding: 15vh 0 15vh 20px;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container.fixator[data-is-active=true] {
  opacity: 1;
  z-index: 99999;
}
@media only screen and (max-width: 867px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container.fixator {
    width: 100%;
    height: 35%;
    padding: 0;
  }
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container.fixator {
    height: 55%;
  }
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .title {
  font-size: 40px;
  width: 80%;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .title .bold {
  font-family: "MardotoBold", arial, sans-serif;
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 500px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .title {
    font-size: 22px;
  }
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .description {
  margin: 40px 0 70px 0;
  font-weight: 900;
  font-size: 15px;
  width: 90%;
  max-width: 435px;
}
@media only screen and (max-width: 867px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .description {
    margin: 40px 0 40px 0;
  }
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .description {
    margin: 20px 0 20px 0;
  }
}
@media only screen and (max-width: 500px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .description {
    margin: 10px 0 10px 0;
  }
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .order-now {
  cursor: pointer;
  font-weight: 900;
  font-size: 15px;
  position: relative;
  cursor: pointer;
  padding-bottom: 7px;
  overflow: hidden;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .order-now:after, [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .order-now:before {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  background-color: white;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .order-now:after {
  right: 0;
  width: 100%;
  background-color: white;
  transition-delay: 0.3s;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .order-now:before {
  left: 0;
  transition-delay: 0s;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .order-now:hover:before {
  width: 100%;
  transition-delay: 0.3s;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .order-now:hover:after {
  width: 0%;
  transition-delay: 0s;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup {
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content {
  font-family: "MardotoThin", arial, sans-serif;
  background-color: #121212;
  padding: 50px;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1020px;
  max-height: 750px;
}
@media only screen and (max-width: 867px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content {
    max-height: 85%;
  }
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about {
  min-width: 415px;
  height: 100%;
  overflow: hidden;
  flex: 0 1 45%;
}
@media only screen and (max-width: 867px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about {
    min-width: unset;
  }
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about {
  z-index: 10003;
  height: 100%;
  padding-right: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about > * {
  width: 100%;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .popup-main-title {
  line-height: 55px;
  font-family: "MardotoBold", arial, sans-serif;
  font-size: 50px;
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .popup-main-title {
    line-height: 33px;
    font-size: 27px;
  }
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .popup-main-type {
  margin-top: 25px;
  font-size: 25px;
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .popup-main-type {
    margin-top: 20px;
    font-size: 18px;
  }
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .count-from {
  margin-top: 15px;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .count-from {
    margin-top: 10px;
    font-size: 18px;
  }
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .details {
  font-size: 18px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .details .detail {
  width: 100%;
  display: block;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .details .detail .titlePopup {
  float: left;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .details .detail .valuePopup {
  float: right;
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .details {
    margin-top: 10px;
    font-size: 15px;
  }
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .price, [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .all-price {
  margin-top: 30px;
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .price, [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .all-price {
    margin-top: 15px;
  }
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .all-price .valuePopup {
  font-size: 30px;
  margin-top: 20px;
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .all-price {
    font-size: 18px;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .all-price .valuePopup {
    font-size: 20px;
    margin-top: 0px;
  }
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .action-buttons .confirm, [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .action-buttons .preview_opener {
  text-transform: uppercase;
  width: 90%;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin-top: 15px;
  background-color: #202026;
  border: 1px solid white;
  border-radius: 3px;
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .action-buttons .confirm, [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .action-buttons .preview_opener {
    font-size: 16px;
    padding: 7px;
    width: auto;
    border-radius: 0;
    border: 0;
    margin-right: 20px;
  }
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .action-buttons .preview_opener {
  display: none;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-confirm {
  background-color: #121212;
  z-index: 10004;
  transition: 0.75s cubic-bezier(0.77, 0, 0.18, 1);
  transform: translate(0, 1px);
  padding-right: 10%;
  height: 100%;
  width: 100%;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-confirm[data-opened-confirmer=true] {
  transform: translate(0, -100%);
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview {
  height: 100%;
  flex: 0 1 55%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview .popup-slider {
  border: 5px solid grey;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview .sub_preview {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview .sub_preview img {
  height: 130%;
  top: -3%;
  left: -10%;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview .controls {
  left: calc(100% + 5px);
}
@media only screen and (max-width: 867px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content {
    flex-direction: column-reverse;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview {
    flex: inherit;
    transition: 0.75s cubic-bezier(0.77, 0, 0.18, 1);
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #121212;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview .popup-slider {
    max-height: 90%;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview .close-preview_opener {
    display: block;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview[data-opened-preview=true] {
    bottom: 0%;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about {
    width: 100%;
    height: 100%;
    flex: inherit;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about {
    justify-content: space-between;
    padding-right: 0;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .action-buttons {
    justify-content: flex-start;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about .action-buttons .preview_opener {
    display: block;
  }
}
@media only screen and (max-width: 867px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content {
    padding: 30px 0 30px 30px;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content {
    padding-right: 30px;
    overflow: hidden;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview {
    padding-right: 30px;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview .popup-slider {
    max-width: calc(100% - 30px);
    margin-right: 30px;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview .popup-slider .controls {
    width: 48px;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview .popup-slider .controls .to-left, [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview .popup-slider .controls .to-right {
    width: 40px;
    height: 48px;
    padding: 0;
  }
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .popup_content .close-popup {
  right: 10px;
  background-color: transparent;
  box-shadow: none;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container .popup .close-popup {
  width: 20px;
  height: 20px;
  padding: 15px;
}
@media only screen and (max-width: 867px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .text-container .sub-text-container {
    padding: 40px 0;
    justify-content: center;
  }
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .medal-container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.18, 1);
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .medal-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .medal-container .medal-on-other-hand {
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: contain;
  cursor: pointer;
  background-image: none;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .medal-container .medal-on-other-hand:hover {
  opacity: 1;
}
[data-module=medalsArvin] .medals-container .sub-modals-container .medal .medal-container .medal-on-other-hand img.hidden {
  width: 1px;
  height: 1px;
  display: none;
  opacity: 0;
  visibility: hidden;
}
@media only screen and (max-width: 867px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .medal-container {
    width: 100%;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .medal-container.mobile-opened {
    z-index: 999999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .medal-container.mobile-opened .zoommer {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}
@media only screen and (max-width: 867px) and (max-width: 867px) and (orientation: portrait) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .medal-container.mobile-opened .zoommer img {
    max-width: unset;
    height: 100%;
  }
}
@media only screen and (max-width: 867px) and (max-width: 867px) and (orientation: landscape) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .medal-container.mobile-opened .zoommer img {
    max-height: unset;
    width: 100%;
  }
}
@media only screen and (max-width: 867px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal .medal-container.mobile-opened .zoommer + .zoommer-mobile-close {
    display: block;
  }
}
@media only screen and (max-width: 867px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container .medal {
    flex-direction: column;
    margin-bottom: 60px;
  }
}
[data-module=medalsArvin] .medals-container .sub-modals-container #line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}
@media only screen and (max-width: 867px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container {
    padding: 0;
    margin-bottom: 40px;
    height: 60%;
  }
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=medalsArvin] .medals-container .sub-modals-container {
    height: 40%;
  }
  [data-module=medalsArvin] .medals-container .sub-modals-container .zoommer-lens {
    width: 250px;
    height: 250px;
    top: 0% !important;
    left: 0% !important;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    box-shadow: unset;
  }
}
[data-module=medalsArvin] .medals-container .controlls {
  height: 55px;
  width: 100%;
  display: none;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
}
[data-module=medalsArvin] .medals-container .controlls .to-down {
  padding: 20px;
}
[data-module=medalsArvin] .medals-container .controlls .to-up {
  padding: 20px;
}
@media only screen and (max-width: 867px) {
  [data-module=medalsArvin] .medals-container .controlls {
    display: flex;
  }
}

.isTouch [data-module=medalsArvin] .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .about .sub-about {
  overflow: hidden scroll;
}
.isTouch [data-module=medalsArvin] .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview .sub_preview {
  min-width: 100%;
}
.isTouch [data-module=medalsArvin] .medal .text-container .sub-text-container .popup .popup_content .sub_popup_content .preview .sub_preview img {
  height: auto;
  width: auto;
}

[data-module=about-book] {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  height: 75vh;
  min-height: 450px;
  background-color: white;
  padding: 0;
}
[data-module=about-book] .book-container {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
[data-module=about-book] .book-container .overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
[data-module=about-book] .book-container .text-container {
  z-index: 1;
  max-width: 1640px;
  width: 100%;
  padding: 25vh 10vh 10vh 10vh;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  font-family: "MardotoThin", arial, sans-serif;
}
[data-module=about-book] .book-container .text-container .name {
  font-weight: 900;
  font-size: 21px;
}
[data-module=about-book] .book-container .text-container .excerpt {
  font-size: 60px;
  line-height: 1.8em;
}
[data-module=about-book] .book-container .text-container .excerpt span {
  padding-bottom: 15px;
  border-bottom: 2px solid white;
}
@media only screen and (max-width: 867px) {
  [data-module=about-book] .book-container .text-container .excerpt span {
    padding-bottom: 5px;
  }
}
@media only screen and (max-width: 867px) {
  [data-module=about-book] .book-container .text-container .excerpt {
    margin: 40px 0 60px 0;
    font-size: 49px;
  }
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=about-book] .book-container .text-container .excerpt {
    font-size: 25px;
  }
}
[data-module=about-book] .book-container .text-container .order-now {
  font-weight: 900;
  font-size: 15px;
  position: relative;
  height: 17px;
  cursor: pointer;
  padding-bottom: 7px;
  overflow: hidden;
}
[data-module=about-book] .book-container .text-container .order-now:after, [data-module=about-book] .book-container .text-container .order-now:before {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  background-color: white;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
[data-module=about-book] .book-container .text-container .order-now:after {
  right: 0;
  width: 100%;
  background-color: white;
  transition-delay: 0.3s;
}
[data-module=about-book] .book-container .text-container .order-now:before {
  left: 0;
  transition-delay: 0s;
}
[data-module=about-book] .book-container .text-container .order-now:hover:before {
  width: 100%;
  transition-delay: 0.3s;
}
[data-module=about-book] .book-container .text-container .order-now:hover:after {
  width: 0%;
  transition-delay: 0s;
}
@media only screen and (max-width: 867px) {
  [data-module=about-book] .book-container .text-container {
    padding: 50px;
    justify-content: center;
  }
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=about-book] .book-container .text-container {
    padding: 20px;
  }
}

[data-module=nav-bar] .logo-with-toggler {
  mix-blend-mode: difference;
  position: fixed;
  top: 10vh;
  left: calc(100vw - 280px);
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.18, 1);
}
[data-module=nav-bar] .logo-with-toggler .logo {
  background-image: url("../../img/logo_white.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 40px;
}
[data-module=nav-bar] .logo-with-toggler .logo img, [data-module=nav-bar] .logo-with-toggler .logo svg {
  opacity: 0;
  width: 78px;
  height: 40px;
}
[data-module=nav-bar] .logo-with-toggler .toggler-menu {
  width: 70px;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
}
[data-module=nav-bar] .logo-with-toggler .toggler-menu .lines {
  position: relative;
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
[data-module=nav-bar] .logo-with-toggler .toggler-menu .lines .line {
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform-origin: center;
  width: 100%;
  height: 2px;
  overflow: hidden;
  position: relative;
}
[data-module=nav-bar] .logo-with-toggler .toggler-menu .lines .line:after, [data-module=nav-bar] .logo-with-toggler .toggler-menu .lines .line:before {
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
}
[data-module=nav-bar] .logo-with-toggler .toggler-menu .lines .line:before {
  left: calc(180%);
}
[data-module=nav-bar] .logo-with-toggler .toggler-menu .lines .line:first-child {
  margin-bottom: 5px;
}
[data-module=nav-bar] .logo-with-toggler .toggler-menu .lines .line:first-child:after {
  left: calc(-180%);
}
[data-module=nav-bar] .logo-with-toggler .toggler-menu .lines .line:first-child:before {
  left: 0;
}
[data-module=nav-bar] .logo-with-toggler .toggler-menu:hover .lines .line {
  position: relative;
}
[data-module=nav-bar] .logo-with-toggler .toggler-menu:hover .lines .line:after {
  left: calc(-180%);
}
[data-module=nav-bar] .logo-with-toggler .toggler-menu:hover .lines .line:before {
  left: 0;
}
[data-module=nav-bar] .logo-with-toggler .toggler-menu:hover .lines .line:first-child {
  position: relative;
}
[data-module=nav-bar] .logo-with-toggler .toggler-menu:hover .lines .line:first-child:after {
  left: 0;
}
[data-module=nav-bar] .logo-with-toggler .toggler-menu:hover .lines .line:first-child:before {
  left: calc(180%);
}
@media only screen and (max-width: 867px) {
  [data-module=nav-bar] .logo-with-toggler {
    mix-blend-mode: unset;
    background-color: black;
    padding: 10px;
    left: unset;
    right: 0;
    top: 0;
  }
}
[data-module=nav-bar] .navigations {
  z-index: 99998;
  background-color: transparent;
  width: 100%;
  height: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
[data-module=nav-bar] .navigations .footer-info, [data-module=nav-bar] .navigations .nav-buttons {
  position: fixed;
  top: -100%;
  background-color: black;
  transition: top 1.2s cubic-bezier(0.77, 0, 0.18, 1);
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
[data-module=nav-bar] .navigations .footer-info {
  left: 0;
  transition-delay: 0.2s;
}
[data-module=nav-bar] .navigations .footer-info .distance-ten {
  padding-bottom: 10px;
}
[data-module=nav-bar] .navigations .footer-info .distance-twenty {
  padding-bottom: 20px;
}
[data-module=nav-bar] .navigations .footer-info .info-main {
  font-size: 13px;
  background-color: white;
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  padding-bottom: 7.5vh;
}
[data-module=nav-bar] .navigations .footer-info .info-main .design-studio-side {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
[data-module=nav-bar] .navigations .footer-info .info-main .design-studio-side .logo {
  width: 55%;
  height: auto;
}
[data-module=nav-bar] .navigations .footer-info .info-main .design-studio-side .logo img {
  max-width: 150px;
  width: 100%;
  height: auto;
}
[data-module=nav-bar] .navigations .footer-info .info-main .design-studio-side .visit {
  position: relative;
  cursor: pointer;
  padding-bottom: 7px;
  overflow: hidden;
}
[data-module=nav-bar] .navigations .footer-info .info-main .design-studio-side .visit a {
  text-decoration: none;
  color: black;
}
[data-module=nav-bar] .navigations .footer-info .info-main .design-studio-side .visit:after, [data-module=nav-bar] .navigations .footer-info .info-main .design-studio-side .visit:before {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  background-color: white;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
[data-module=nav-bar] .navigations .footer-info .info-main .design-studio-side .visit:after {
  right: 0;
  width: 100%;
  background-color: white;
  transition-delay: 0.3s;
}
[data-module=nav-bar] .navigations .footer-info .info-main .design-studio-side .visit:before {
  left: 0;
  transition-delay: 0s;
}
[data-module=nav-bar] .navigations .footer-info .info-main .design-studio-side .visit:hover:before {
  width: 100%;
  transition-delay: 0.3s;
}
[data-module=nav-bar] .navigations .footer-info .info-main .design-studio-side .visit:hover:after {
  width: 0%;
  transition-delay: 0s;
}
[data-module=nav-bar] .navigations .footer-info .info-main .design-studio-side .visit:after, [data-module=nav-bar] .navigations .footer-info .info-main .design-studio-side .visit:before {
  background-color: black;
}
[data-module=nav-bar] .navigations .footer-info .info-main .contact-side {
  margin-left: 10%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
[data-module=nav-bar] .navigations .footer-info .info-main .contact-side .sub-side {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
[data-module=nav-bar] .navigations .footer-info .info-main .contact-side .sub-side .sub-side-title {
  font-weight: 600;
}
[data-module=nav-bar] .navigations .footer-info .info-main .contact-side .sub-side .desc {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
[data-module=nav-bar] .navigations .footer-info .info-main .contact-side .sub-side .desc .email.distance-ten:last-of-type {
  padding-bottom: 0;
}
@media only screen and (max-width: 1240px) {
  [data-module=nav-bar] .navigations .footer-info .info-main {
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
  }
  [data-module=nav-bar] .navigations .footer-info .info-main .contact-side, [data-module=nav-bar] .navigations .footer-info .info-main .design-studio-side {
    width: 100%;
  }
  [data-module=nav-bar] .navigations .footer-info .info-main .contact-side {
    margin-left: 10%;
    margin-bottom: 0%;
  }
}
@media only screen and (max-width: 867px) {
  [data-module=nav-bar] .navigations .footer-info {
    display: none;
  }
}
[data-module=nav-bar] .navigations .nav-buttons {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0vh;
}
[data-module=nav-bar] .navigations .nav-buttons .buttons-main {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  padding: 10vh;
  position: relative;
}
[data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button {
  min-height: 46px;
  position: relative;
  font-size: 45px;
  padding-bottom: 7px;
  margin-bottom: 15px;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
}
[data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button:not(.active) div:after, [data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button:not(.active) div:before {
  background-color: white;
}
[data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button div {
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.18, 1) 0.9s;
  transform: translate(0, 100%);
  cursor: pointer;
  padding-bottom: 7px;
  overflow: hidden;
}
[data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button div:after, [data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button div:before {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  background-color: white;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
[data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button div:after {
  right: 0;
  width: 100%;
  background-color: white;
  transition-delay: 0.3s;
}
[data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button div:before {
  left: 0;
  transition-delay: 0s;
}
[data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button div:hover:before {
  width: 100%;
  transition-delay: 0.3s;
}
[data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button div:hover:after {
  width: 0%;
  transition-delay: 0s;
}
[data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button div:after, [data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button div:before {
  background-color: black;
  content: "";
}
[data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button div a {
  color: black;
  overflow: hidden;
}
@media (max-width: 700px), (max-height: 700px) {
  [data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button div {
    transform: translate(0, 150%);
  }
}
[data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button:hover div:after, [data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button:hover div:before {
  background-color: black;
}
[data-module=nav-bar] .navigations .nav-buttons .langs {
  position: absolute;
  bottom: 10%;
  right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-module=nav-bar] .navigations .nav-buttons .langs .lang {
  color: black;
  position: relative;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  margin: 0 5px;
  text-decoration: none;
  padding: 10px 5px;
  text-align: center;
  font-family: "MardotoBold", arial, sans-serif;
}
[data-module=nav-bar] .navigations .nav-buttons .langs .lang:first-of-type, [data-module=nav-bar] .navigations .nav-buttons .langs .lang:last-of-type {
  margin: 0;
}
[data-module=nav-bar] .navigations .nav-buttons .langs .lang:not(.active) {
  cursor: pointer;
  padding-bottom: 7px;
  overflow: hidden;
}
[data-module=nav-bar] .navigations .nav-buttons .langs .lang:not(.active):before {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  background-color: black;
  left: 0;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
[data-module=nav-bar] .navigations .nav-buttons .langs .lang:not(.active):hover:before {
  width: 100%;
}
[data-module=nav-bar] .navigations .nav-buttons .langs .lang:before {
  bottom: inherit;
  top: 0;
}
[data-module=nav-bar] .navigations .nav-buttons .langs .lang.active {
  padding-bottom: 7px;
}
[data-module=nav-bar] .navigations .nav-buttons .langs .lang.active:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0px;
  background-color: black;
  left: 0;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
[data-module=nav-bar] .navigations .nav-buttons .white-area {
  max-height: 13vh;
  height: 10%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-self: flex-end;
  align-items: flex-end;
}
[data-module=nav-bar] .navigations .nav-buttons .white-area .area {
  height: 75%;
  width: 90%;
  margin-left: 10%;
  background-color: white;
}
@media only screen and (max-width: 867px) {
  [data-module=nav-bar] .navigations .nav-buttons {
    width: 100%;
  }
  [data-module=nav-bar] .navigations .nav-buttons .buttons-main {
    justify-content: flex-end;
    padding: 60px 20px 20px 20px;
  }
  [data-module=nav-bar] .navigations .nav-buttons .buttons-main .nav-button {
    font-size: 29px;
  }
}
[data-module=nav-bar][data-is-collapsed=true] .logo-with-toggler {
  z-index: 99999999;
}
[data-module=nav-bar][data-is-collapsed=true] .logo-with-toggler .toggler-menu .lines .line {
  position: absolute;
  left: 0;
  right: 0;
  transform: rotate(-45deg);
}
[data-module=nav-bar][data-is-collapsed=true] .logo-with-toggler .toggler-menu .lines .line:first-child {
  margin-bottom: 0;
  transform: rotate(45deg);
}
@media only screen and (max-width: 867px) {
  [data-module=nav-bar][data-is-collapsed=true] .logo-with-toggler {
    mix-blend-mode: difference;
  }
}
[data-module=nav-bar][data-is-collapsed=true] .navigations .footer-info, [data-module=nav-bar][data-is-collapsed=true] .navigations .nav-buttons {
  top: 0;
}
@media only screen and (max-width: 867px) {
  [data-module=nav-bar][data-is-collapsed=true] .navigations .footer-info, [data-module=nav-bar][data-is-collapsed=true] .navigations .nav-buttons {
    top: 0%;
    transition: left 1.2s cubic-bezier(0.77, 0, 0.18, 1);
    clip-path: polygon(0 0, 43% 0, 65% 0, 100% 0, 100% 100%, 50% 100%, 50% 0, 50% 100%, 0 100%, 0 0%);
    animation: half_half 1.4s 1;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  }
  @keyframes half_half {
    0% {
      clip-path: polygon(0 0, 43% 0, 65% 0, 100% 0, 100% 0%, 50% 0%, 50% 0, 50% 0%, 0 0%, 0 0%);
    }
    32% {
      clip-path: polygon(0 0, 43% 0, 65% 0, 100% 0, 100% 16%, 50% 16%, 50% 0, 50% 0%, 0 0%, 0 0%);
    }
    100% {
      clip-path: polygon(0 0, 43% 0, 65% 0, 100% 0, 100% 100%, 50% 100%, 50% 0, 50% 100%, 0 100%, 0 0%);
    }
  }
}
[data-module=nav-bar][data-is-collapsed=true] .navigations .footer-info .buttons-main .nav-button div, [data-module=nav-bar][data-is-collapsed=true] .navigations .nav-buttons .buttons-main .nav-button div {
  transform: translate(0, 0);
}
@media only screen and (max-height: 550px) {
  [data-module=nav-bar][data-is-collapsed=true] .navigations .footer-info .buttons-main, [data-module=nav-bar][data-is-collapsed=true] .navigations .nav-buttons .buttons-main {
    justify-content: flex-start;
    overflow: auto;
  }
}
[data-module=nav-bar][data-is-collapsed=false] .navigations .footer-info, [data-module=nav-bar][data-is-collapsed=false] .navigations .nav-buttons {
  top: -100%;
}
@media only screen and (max-width: 867px) {
  [data-module=nav-bar][data-is-collapsed=false] .navigations .footer-info, [data-module=nav-bar][data-is-collapsed=false] .navigations .nav-buttons {
    top: 0;
    transition: left 1.2s cubic-bezier(0.77, 0, 0.18, 1);
    clip-path: polygon(0 0, 43% 0, 65% 0, 100% 0, 100% 0%, 50% 0%, 50% 0, 50% 0%, 0 0%, 0 0%);
    animation: half_half_close 1.8s 1;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  }
  @keyframes half_half_close {
    0%, 22% {
      clip-path: polygon(0 0, 43% 0, 65% 0, 100% 0, 100% 100%, 50% 100%, 50% 0, 50% 100%, 0 100%, 0 0);
    }
    35% {
      clip-path: polygon(0 0, 43% 0, 65% 0, 100% 0, 100% 100%, 50% 100%, 50% 0, 50% 84%, 0 84%, 0 0);
    }
    100% {
      clip-path: polygon(0 0, 43% 0, 65% 0, 100% 0, 100% 0%, 50% 0%, 50% 0, 50% 0%, 0 0%, 0 0%);
    }
  }
  [data-module=nav-bar][data-is-collapsed=false] .navigations .footer-info .nav-button div, [data-module=nav-bar][data-is-collapsed=false] .navigations .nav-buttons .nav-button div {
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.18, 1);
  }
}
[data-module=nav-bar], [data-module=nav-bar] * {
  z-index: 9999999;
}
[data-module=nav-bar] .logo-with-toggler {
  z-index: 99999999;
}

[data-module=medals-slider] {
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*# sourceMappingURL=main.css.map */
